:root {
    --color-gray-100: #f2f2f2;
    --color-gray-200: #d9d9d9;
    --color-gray-300: #808080;
    --color-gray-400: #333333;
    --color-gray-500: #262626;
    --color-gray-600: #1a1a1a;
    --color-gray-700: #0d0d0d;
    --color-blue: #4ea8de;
    --color-blue-dark: #1e6f9f;
    --color-purple: #8284fa;
    --color-purple-dark: #5e60ce;
    --height-header: 200px;
    --element-height: 46px;
    --gap-default: 12px;
}
