.tools {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tools__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.tools__controls {
    display: flex;
    align-items: center;
    gap: 16px;
    min-height: 40px;
    border-top: 1px solid var(--color-gray-400);
    padding-top: 24px;
}

.tools__title {
    color: var(--color-gray-200);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.tools__button {
    margin-left: auto;
}