.select {
    height: 36px;
    border: 1px solid var(--color-gray-700);
    border-radius: 8px;
    padding: 0 16px;
    color: var(--color-gray-200);
    font-size: 13px;
    font-weight: 500;
    background-color: var(--color-gray-500);
    cursor: pointer;
    appearance: none;
    transition-duration: 0.2s;
}

.select:focus {
    outline: none;
}

.select:focus-visible {
    border-color: var(--color-gray-400);
}