
.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-height: 242px;
    border-radius: 8px;
    padding-block: 24px;
}

.empty__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.empty__title {
    color: var(--color-gray-200);
    font-weight: 700;
    font-size: 16px;
}

.empty__description {
    color: var(--color-gray-300);
}
