.stats {
    display: flex;
    align-items: center;
    gap: 12px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 8px;
}

.counter {
    border-radius: 8px;
    padding: 2px 8px;
    color: var(--color-gray-200);
    font-weight: 500;
    font-size: 12px;
    background-color: var(--color-gray-400);
}

.divider {
    color: var(--color-gray-400);
}