body {
    color: var(--color-gray-100);
    font-family: "Inter-Variable", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: var(--color-gray-600);
    transition-duration: 0.3s;
}

.visually-hidden {
    position: absolute !important;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    inline-size: 1px;
    block-size: 1px;
    white-space: nowrap;
    clip-path: inset(50%);
}

