@import url(normalize.css);
@import url(fonts.css);
@import url(variables.css);
@import url(global.css);
@import url(light.css);

.todo-bar.is-hidden {
    display: none;
}

.todos.is-hidden {
    display: none;
}

.empty {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-height: 242px;
    border-radius: 8px;
}

.empty.is-visible {
    display: flex;
}

.empty__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.empty__title {
    color: var(--color-gray-200);
    font-weight: 700;
    font-size: 16px;
}

.empty__description {
    color: var(--color-gray-300);
}
