.todo_form {
    display: flex;
    gap: 8px;
    z-index: 2;
    height: 46px;
    margin-top: -23px;
    margin-bottom: 64px;
}

.todo_form__field {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.todo_form__input {
    flex-grow: 1;
}

.todo_form__button {
    gap: 8px;
    height: 46px;
    font-size: 14px;
    z-index: 3;
}

.todo_form__button:hover {
    background-color: var(--color-blue);
}

.todo_form__button:focus-visible {
    outline-color: var(--color-blue);
}

.todo_form__icon {
    width: 16px;
    height: 16px;
    pointer-events: none;
}

