@import url(normalize.css);
@import url(fonts.css);
@import url(variables.css);
@import url(global.css);
@import url(light.css);

.todo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.todo-bar.is-hidden {
    display: none;
}

.todo-bar__stats {
    display: flex;
    align-items: center;
    gap: 12px;
}

.todo-bar__stat {
    display: flex;
    align-items: center;
    gap: 8px;
}

.todo-bar__stat-counter {
    border-radius: 8px;
    padding: 2px 8px;
    color: var(--color-gray-200);
    font-weight: 500;
    font-size: 12px;
    background-color: var(--color-gray-400);
}

.todo-bar__divider {
    color: var(--color-gray-400);
}

.todo-bar__search {
    position: relative;
}

.todo-bar__field {
    position: relative;
    display: flex;
}

.todo-bar__search-input {
    width: 280px;
    padding-right: 28px;
}

.todos {
    padding-block: 24px;
    border-top: 1px solid var(--color-gray-400);
}

.todos.is-hidden {
    display: none;
}

.todos__header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    min-height: 40px;
}

.todos__title {
    color: var(--color-gray-200);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.todos__delete-all {
    margin-left: auto;
}

/* .todo-list { */
/*     display: flex; */
/*     flex-direction: column; */
/*     gap: 12px; */
/* } */

/* .todo-list__item { */
/*     display: grid; */
/*     grid-template-columns: 24px 1fr auto; */
/*     align-items: center; */
/*     gap: 16px; */
/*     border-radius: 8px; */
/*     padding: 16px; */
/*     background-color: var(--color-gray-500); */
/*     border: 1px solid var(--color-gray-400); */
/* } */

/* .todo-list__checkbox { */
/*     display: flex; */
/*     justify-content: center; */
/*     align-items: center; */
/*     align-self: start; */
/*     width: 16px; */
/*     height: 16px; */
/*     margin: 0; */
/*     margin-top: 5px; */
/*     border: 2px solid var(--color-blue); */
/*     border-radius: 50%; */
/*     background: transparent; */
/*     transition: border-color 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease; */
/*     cursor: pointer; */
/*     appearance: none; */
/*     -webkit-appearance: none; */
/* } */

/* .todo-list__checkbox::after { */
/*     content: ""; */
/*     width: 8px; */
/*     height: 8px; */
/*     border-radius: 50%; */
/*     background: var(--color-purple-dark); */
/*     transition: transform 0.15s ease; */
/*     transform: scale(0); */
/* } */

/* .todo-list__checkbox:focus-visible { */
/*     box-shadow: 0 0 0 3px rgba(78, 168, 222, 0.35); */
/*     outline: none; */
/* } */

/* .todo-list__checkbox:checked { */
/*     border-color: var(--color-purple-dark); */
/* } */

/* .todo-list__checkbox:checked::after { */
/*     transform: scale(1); */
/* } */

/* .todo-list__checkbox:disabled { */
/*     opacity: 0.5; */
/*     cursor: not-allowed; */
/* } */

/* .todo-list__checkbox:checked + .todo-list__label { */
/*     color: var(--color-gray-300); */
/*     text-decoration: line-through; */
/* } */

/* .todo-list__label { */
/*     display: flex; */
/*     align-items: start; */
/*     color: var(--color-gray-200); */
/* } */

/* .todo-list__actions { */
/*     display: flex; */
/*     gap: 8px; */
/*     align-self: start; */
/* } */

/* .todo-list__icon { */
/*     display: inline-flex; */
/*     padding: 4px; */
/*     margin-top: 3px; */
/*     background-color: currentColor; */
/*     transition-duration: 0.2s; */
/*     inline-size: 16px; */
/*     block-size: 16px; */
/*     -webkit-mask-repeat: no-repeat; */
/*     mask-repeat: no-repeat; */
/*     -webkit-mask-position: center; */
/*     mask-position: center; */
/*     -webkit-mask-size: contain; */
/*     mask-size: contain; */
/* } */

/* .todo-list__icon--edit { */
/*     -webkit-mask-image: url("../../../public/icons/edit.svg"); */
/*     mask-image: url("../../../public/icons/edit.svg"); */
/* } */

/* .todo-list__icon--delete { */
/*     -webkit-mask-image: url("../../../public/icons/trash.svg"); */
/*     mask-image: url("../../../public/icons/trash.svg"); */
/* } */

/* .todo-list__edit, */
/* .todo-list__delete { */
/*     border: 0; */
/*     color: var(--color-gray-300); */
/*     background: transparent; */
/*     border-radius: 4px; */
/*     transition: color 0.15s ease; */
/* } */

/* .todo-list__edit:hover, */
/* .todo-list__delete:hover { */
/*     color: var(--color-blue); */
/* } */

/* .todo-list__edit:focus-visible, */
/* .todo-list__delete:focus-visible { */
/*     outline: 1px solid var(--color-blue); */
/*     outline-offset: 2px; */
/* } */

.empty {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-height: 242px;
    border-radius: 8px;
}

.empty.is-visible {
    display: flex;
}

.empty__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.empty__title {
    color: var(--color-gray-200);
    font-weight: 700;
    font-size: 16px;
}

.empty__description {
    color: var(--color-gray-300);
}
