.button {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray-100);
    transition-duration: 0.2s;
    font-size: 13px;
    font-weight: 600;
    height: 36px;
    padding: 0 20px;
    outline: 1px solid transparent;
}

.button__purple {
    background-color: var(--color-purple-dark);
}

.button__purple:hover {
    background-color: var(--color-purple);
}

.button__purple:focus-visible {
    outline-color: var(--color-purple);
}

.button__blue {
    background-color: var(--color-blue-dark);
}

.button__blue:hover {
    background-color: var(--color-blue);
}

.button__blue:focus-visible {
    outline-color: var(--color-blue);
}

.button__clear {
    color: var(--color-gray-300);
}

.button__clear:hover {
    color: var(--color-blue);
}

.button__outlined {
    background-color: transparent;
    border: 1px solid var(--color-gray-400);
}

.button__outlined:hover {
    border-color: var(--color-gray-300);
}

.button__outlined:focus-visible {
    outline-color: var(--color-blue);
}
