.input {
    height: 46px;
    border: 1px solid var(--color-gray-700);
    border-radius: 8px;
    padding-inline: 16px;
    color: var(--color-gray-200);
    background-color: var(--color-gray-500);
    transition: border-color 0.2s ease;
}

.input::placeholder {
    opacity: 1;
    color: var(--color-gray-300);
    transition: color 0.2s ease;
}

.input:focus {
    outline: none;
}

.input:focus-visible {
    border-color: var(--color-gray-400);
}

.input:focus::placeholder {
    color: var(--color-gray-200);
}

.input--small {
    height: 36px;
    padding-inline: 12px;
    font-size: 13px;
}