.task_form {
    display: flex;
    gap: 8px;
    z-index: 2;
    height: 46px;
    margin-top: -23px;
    margin-bottom: 64px;
}

.task_form__field {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.task_form__input {
    flex-grow: 1;
}

.task_form__clear {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.task_form__button {
    gap: 8px;
    height: 46px;
    font-size: 14px;
    z-index: 3;
}

.task_form__button:hover {
    background-color: var(--color-blue);
}

.task_form__button:focus-visible {
    outline-color: var(--color-blue);
}

