.task__item {
    display: grid;
    grid-template-columns: 24px 1fr auto;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    padding: 16px;
    max-height: 60px;
    background-color: var(--color-gray-500);
    border: 1px solid var(--color-gray-400);
}

.task__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    width: 16px;
    height: 16px;
    margin: 0;
    margin-top: 6px;
    border: 2px solid var(--color-blue);
    border-radius: 50%;
    background: transparent;
    transition-duration: 0.2s;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.task__checkbox::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--color-purple-dark);
    transition: transform 0.2s ease;
    transform: scale(0);
}

.task__checkbox:focus-visible {
    box-shadow: 0 0 0 3px rgba(78, 168, 222, 0.35);
    outline: none;
}

.task__checkbox:checked {
    border-color: var(--color-purple-dark);
}

.task__checkbox:checked::after {
    transform: scale(1);
}

.task__checkbox:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.task__input {
    outline: none;
    background-color: var(--color-gray-400);
    border-radius: 5px;
    border: none;
    color: var(--color-gray-200);
    padding: 4px 0;
}

.task__label {
    display: flex;
    align-items: start;
    color: var(--color-gray-200);
}

.task__text {
    position: relative;
    display: inline-flex;
}

.task__text::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    background-color: var(--color-gray-300);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

.task__checkbox:checked + .task__label {
    color: var(--color-gray-300);
}

.task__checkbox:checked + .task__label .task__text::after {
    transform: scaleX(1);
}

.task__actions {
    display: flex;
    gap: 8px;
    align-self: start;
    position: relative;
}

.task__icon {
    display: inline-flex;
    margin-top: 3px;
    transition-duration: 0.2s;
}

.task__edit,
.task__delete {
    border: 0;
    color: var(--color-gray-300);
    background: transparent;
    border-radius: 4px;
    transition-duration: 0.2s;
    position: relative;
}
.task__edit {
    opacity: 1;
    animation: fadeIn 0.2s ease-out;
}

.task__edit:hover,
.task__delete:hover {
    color: var(--color-blue);
}

.task__edit:focus-visible,
.task__delete:focus-visible {
    outline: 1px solid var(--color-blue);
    outline-offset: 2px;
}

.task__edit_hidden {
    opacity: 0.3;
    pointer-events: none;
}

